{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ],
    "stage-0",
    "flow"
  ],
  "plugins": []
}
